.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

.title {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
}

.optionsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionsRow {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}